extends ../../layout

block content
 .page-header
   h3= title
    h4= message

 #table-wrapper
 table#tocs
  tr
   th ObjectID
   th Train UID
   th Departure Time
   th Arrival Time
   th Days Run
  tbody
   for train in trains
     tr
      td
       a(href='/t/trains/'+train._id)= train._id
      td 
       a(href='/t/trains/'+train.CIF_train_uid)= train.CIF_train_uid
      td= first.time
      td= last.time
      td= train.schedule_days_runs

   