extends ../../layout

block content
 .page-header
   h3= title
    h4= message
 #table-wrapper
 table#tocs
  tr
   th ObjectID
   th Train UID
   th Headcode
   th ATOC
   th Days Run
   th Timetable Start
   th Timetable End
  tbody
   for train in trains
     tr
      td
       a(href='/t/schedule/trains/'+train._id)= train._id
      td 
       a(href='/t/schedule/trains/'+train.CIF_train_uid)= train.CIF_train_uid
      td
       a(href='/t/schedule/trains/'+train.schedule_segment.signalling_id)= train.schedule_segment.signalling_id
      td= train.atoc_code
      td= train.schedule_days_runs
      td= train.schedule_start_date
      td= train.schedule_end_date
   